<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.vorh.spring.bpp.example.DeprecationHandlerBeanFactoryPostProcessor"/>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean class="com.vorh.spring.bpp.example.PostProxyInvokerContextListener"/>
    <bean class="com.vorh.spring.bpp.example.ProfilingHandlerBeanPostProcessor"/>
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean class="com.vorh.spring.bpp.example.InjectRandomIntAnnotationBeanPostProcessor"/>
    <bean class="com.vorh.spring.bpp.example.TerminatorQuoter" id="quoter">
        <property name="message" value="Glory of Ominisan"/>
    </bean>

</beans>